nz-pagination {
  width: calc(100% - 64px);
  text-align: center;
}
nz-space {
  width: 100%;
}

nz-card {
  outline: solid 1px #cfcfcf;
  height: 100%;
}

.card-text {
  word-wrap: break-word;
}

.selected-item {
  outline: solid 1px #1890ff;
  transform: scale(1.02);
  transition-duration: 0.1s;
}
.checked-item {
  @extend .selected-item;
  background-color: #efefef;
}

.multiselect-tooltip {
  position: absolute;
  top: 28px;
}
